{% extends "base.html" %}

{% block HTML_CONTENTS %}
<div class="container">
    <div class="d-flex justify-content-center">
        <div class="col-8 col-sm-8 col-md-5 col-lg-4 col-xl-3 col-xxl-3">
            <form action='{{ url_for("user_management.account_recovery_attempt") }}' method='POST'>
                <div class="form-floating my-1">
                    <input name='email' type="text" id="email" class="form-control" placeholder="enter your email here" required />
                    <label for="email">email</label>
                </div>
                <div class="form-floating my-1">
                    <input name='username' type="text" id="username" class="form-control" placeholder="enter your username here" required />
                    <label for="username">username</label>
                </div>
                <div class="form-floating my-1">
                    <input value='&#9919; submit request' type='submit' class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
