<html data-bs-theme="dark">
    <head>
        {% block HEAD %}
            <title>{{ WEBSITE_CONTEXT['title'] }}</title>
        {% endblock %}
        <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='bootstrap.customizations.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='codehilite-dark.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='codehilite-light.css') }}" rel="stylesheet">
        <meta name=viewport content="width=device-width, initial-scale=1">
    </head>
    <body>
        <nav class='navbar navbar-expand-sm navbar-dark bg-dark'>
            <div class="container">
                <a href="{{ url_for("blog.index") }}" class="navbar-brand">{{ WEBSITE_CONTEXT['title'] }}</a>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="{{ url_for("blog.index") }}" class="nav-link">home</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ url_for("blog.rss") }}" class="nav-link">rss</a>
                    </li>
                    {% if USER_CONTEXT %}
                        <li class="nav-item">
                            <a href="{{ url_for("blog.post_maker_form") }}" class="nav-link">post maker</a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ url_for("user_management.my_profile") }}" class="nav-link">profile</a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ url_for("user_management.account_settings") }}" class="nav-link">account settings</a>
                        </li>
                        {% if USER_CONTEXT.permissions >= 9 %}
                            <li class="nav-item">
                                <a href="{{ url_for("administration.admin") }}" class="nav-link">administration</a>
                            </li>
                        {% endif %}
                        <li class="nav-item">
                            <a href="{{ url_for("user_management.logout") }}" class="nav-link">logout</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a href="{{ url_for("user_management.login_form") }}" class="nav-link">login</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        <br>
        {% block NOTICE_BLOCK %}
            {% if NOTICE_MESSAGE %}
                <div class="container">
                    <div class='alert {{ ALERT_TYPE }}'>
                        {{ NOTICE_MESSAGE }}
                    </div>
                </div>
            {% endif %}
        {% endblock %}
        <div class="container">
            {% block HTML_CONTENTS %}&nbsp;{% endblock %}
        </div>
        <div class="container">
            <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
                <div class="d-flex align-items-center">
                    <span class="mb-3 mb-md-0 text-muted">
                        {% block FOOTER_CONTENTS %}
                            {% if USER_CONTEXT %}
                                logged in as: {{ USER_CONTEXT.display_name }}
                            {% else %}
                                powered by <a href="https://github.com/Kyuunex/minbl">minbl</a>, a minimalist blog software.
                                please consider leaving a star on github.
                            {% endif %}
                        {% endblock %}
                    </span>
                </div>
            </footer>
        </div>
    </body>
</html>
