{% extends "base.html" %}

{% block HTML_CONTENTS %}
    <h1>cookies</h1>
    this website uses cookies for it's login and registration system to work.<br>
    should you make use of any of these functions, you agree for cookies to be set in your browser.<br>
    the EU law requires us to disclose this, so here you go<br>
    <table border='0'>
        <tr>
            <th>cookie name</th>
            <th>purpose</th>
            <th>essential</th>
        </tr>
        <tr>
            <td>session_token</td>
            <td>recognize the user</td>
            <td>yes, absolutely essential</td>
        </tr>
    </table>
{% endblock %}
