{% extends "base.html" %}

{% block HTML_CONTENTS %}
<div class="cookie_notice_section">
    login and registration functionality requires the use of cookies.<br>
    by logging in or registering, you agree for cookies to be set in your browser.
    <a href="{{ url_for("cookies") }}">learn more</a>
</div>
<div class="login_form">
<form action='{{ url_for("user_management.login_attempt") }}' method='POST'>
    <table class="login_form_table">
        <tr>
            <td>username</td>
            <td><input name='username' type='text'/></td>
        </tr>
        <tr>
            <td>password</td>
            <td><input name='password' type='password'/></td>
        </tr>
        <tr>
            <td>6 digit code</td>
            <td><input name='generated_code' type='text' placeholder='leave blank if not enabled'/></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td><input type='checkbox' name='autout' value='yes'/>remember me<br>
            {% if ALLOW_REGISTRATION %}
                <a href='{{ url_for("user_management.registration_form") }}'>account registration</a><br>
            {% endif %}
            <a href='{{ url_for("user_management.account_recovery_form") }}'>account recovery</a></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td><input value='&#9919; log in' type='submit'/></td>
        </tr>
    </table>
</form>
</div>
{% endblock %}
