{% extends "base.html" %}

{% block HTML_CONTENTS %}
    <div class="container">
        <div class="d-flex justify-content-center">
            <div class="col-8 col-sm-8 col-md-5 col-lg-4 col-xl-3 col-xxl-3">
                <h2>change password</h2>
                <form action="{{ url_for("user_management.change_password_attempt") }}" method="POST">
                    <div class="form-floating my-2">
                        <input name="username" type="text" id="username" class="form-control-plaintext" placeholder="username" value="{{ USER_CONTEXT.username }}" readonly />
                        <label for="username">username</label>
                    </div>
                    <div class="form-floating my-1">
                        <input name="old_password" type="password" id="old_password" class="form-control" placeholder="old password" required />
                        <label for="old_password">old password</label>
                    </div>
                    <div class="form-floating my-1">
                        <input name="new_password" type="password" id="new_password" class="form-control" placeholder="new password" required />
                        <label for="new_password">new password</label>
                    </div>
                    <div class="form-floating my-1">
                        <input name="repeat_new_password" type="password" id="repeat_new_password" class="form-control" placeholder="repeat new password" required />
                        <label for="repeat_new_password">repeat new password</label>
                    </div>
                    <div class="form-floating my-1">
                        <input name='generated_code' type='text' id="generated_code" class="form-control" placeholder="6 digit code if applicable" />
                        <label for="generated_code">6 digit code if applicable</label>
                    </div>
                    <div class="form-floating my-1">
                        <input value="change password" type="submit" class="btn btn-danger" />
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
