{% extends "base.html" %}

{% block HTML_CONTENTS %}
    <form action="{{ url_for("blog.make_post") }}" method="post" enctype="multipart/form-data">
        <div class="form-floating my-1">
            <input name="post_title" type="text" id="post_title" class="form-control" placeholder="Post title" required />
            <label for="post_title">Post title</label>
        </div>
        <div class="form-floating my-1">
            <input name="cover_image_url" type="text" id="cover_image_url" class="form-control" placeholder="Cover image URL" />
            <label for="cover_image_url">Cover image URL</label>
        </div>

        <div class="input-group">
            <div class="form-floating col-6">
                <input name="category" type="text" id="category" class="form-control" placeholder="Category" />
                <label for="category">Category</label>
            </div>
            <div class="form-floating col-6">
                <input name="tags" type="text" id="tags" class="form-control" placeholder="Tags" />
                <label for="tags">Tags</label>
            </div>
        </div>

        <div class="input-group">
            <div class="form-floating col-6">
                <select class="form-select" name="post_privacy" id="post_privacy">
                    <option value="0" selected>Public</option>
                    <option value="2">Members</option>
                </select>
                <label for="post_privacy">Privacy</label>
            </div>
            <div class="form-floating col-6">
                <select class="form-select" name="post_unlisted" id="post_unlisted">
                    <option value="1">Yes</option>
                    <option value="0" selected>No</option>
                </select>
                <label for="post_unlisted">Unlisted</label>
            </div>
        </div>

        <div class="form-floating my-1">
            <textarea name="post_preview" type="text" id="post_preview" class="form-control" placeholder="Post preview" required></textarea>
            <label for="post_preview">Post preview</label>
        </div>
        <div class="form-floating my-1">
            <textarea rows="4" style="height:40%;" name="post_contents" type="text" id="post_contents" class="form-control" placeholder="Post content" required></textarea>
            <label for="post_contents">Post content (markdown enabled)</label>
        </div>

        <div class="form-floating my-1">
            <input type="submit" value="&#9998; Post" class="btn btn-primary" />
        </div>
    </form>
{% endblock %}
