{% extends "base.html" %}
{% block HTML_CONTENTS %}
    <div class="blog_listing">
    {% for BLOG_POST in BLOG_POSTS %}
        <div class="blog_listing_one_post">
            {% if BLOG_POST.cover_image_url %}
                <img src="{{ BLOG_POST.cover_image_url }}" alt="{{ BLOG_POST.title }}" class="blog_post_cover_image"/>
            {% endif %}
            <div class="blog_listing_one_post_title">
                <a href='{{ url_for("blog.custom_url", post_id=BLOG_POST.custom_url) }}'>{{ BLOG_POST.title }}</a>
            </div>
            <div class="blog_listing_one_post_preview">
                {{ BLOG_POST.preview }}
            </div>
            <div class="blog_listing_one_post_author">
                Posted by <a href='{{ url_for("blog.index", author_id=BLOG_POST.author.id) }}'>
                {{ BLOG_POST.author.display_name }}</a>
                on {{ BLOG_POST.timestamp_utc }}
                {% if BLOG_POST.unlisted == 1 %}
                    (Unlisted)
                {% endif %}
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}
