{% extends "base.html" %}

{% block HEAD %}
    <title>{{ BLOG_POST.title }} - {{ WEBSITE_CONTEXT['title'] }}</title>
    <meta property="og:title" content="{{ BLOG_POST.title }}">
    <meta property="og:type" content="article">
    {% if BLOG_POST.cover_image_url %}
        <meta property="og:image" content="{{ BLOG_POST.cover_image_url }}">
    {% endif %}
    <meta property="og:url" content="{{ url_for("blog.post_view", post_id=BLOG_POST.post_id) }}">

    <meta property="og:description" content="{{ BLOG_POST.preview }}">
    <meta property="og:site_name" content="{{ WEBSITE_CONTEXT['title'] }}">

    <meta property="article:published_time" content="{{ BLOG_POST.timestamp_utc.isoformat() }}">
    <meta property="article:modified_time" content="{{ BLOG_POST.last_edit_timestamp_utc.isoformat() }}">
    <meta property="article:expiration_time" content="{{ BLOG_POST.expiration_time_utc.isoformat() }}">
    <meta property="article:author" content="{{ BLOG_POST.author.display_name }}">
    <meta property="article:section" content="Technology">
    <meta property="article:tag" content="tech">
{% endblock %}

{% block HTML_CONTENTS %}
<div class="container">
    <div class="blog_post_title"><h2>{{ BLOG_POST.title }}</h2></div>

    {% if BLOG_POST.cover_image_url %}
        <img src="{{ BLOG_POST.cover_image_url }}" alt="{{ BLOG_POST.title }}" class="blog_post_cover_image"/>
        <hr />
    {% endif %}

    <div class="blog_post_contents">
        {{ markdown2.markdown(BLOG_POST.contents, extras=markdown_extras) | safe }}
    </div>
</div>
<section class="bg-info bg-opacity-10 text-light py-2">
    <div class="container">
        {% if USER_PERMISSIONS >= 5 %}
            <div class="mb-1">
                <a href='{{ url_for("blog.post_edit_form", post_id=BLOG_POST.post_id) }}' class="btn btn-primary">edit</a>
                <a href='{{ url_for("blog.delete_post", post_id=BLOG_POST.post_id) }}' class="btn btn-danger">delete</a>
            </div>
        {% endif %}
        <p>
            Posted by <a href='{{ url_for("blog.index", author_id=BLOG_POST.author.id) }}'>
            {{ BLOG_POST.author.display_name }}</a>
            on {{ BLOG_POST.timestamp_utc }}
            {% if (BLOG_POST.timestamp) != (BLOG_POST.last_edit_timestamp) %}
                <br>Last edited on: {{ BLOG_POST.last_edit_timestamp_utc }}
            {% endif %}
        </p>
    </div>
</section>

{% endblock %}
