{% extends "base.html" %}

{% block HTML_CONTENTS %}
    <div class="blog_post_title"><h2>{{ BLOG_POST.title }}</h2></div>

    <div class="blog_post_contents">
        {{ BLOG_POST.contents }}
    </div>

{% endblock %}

{% block FOOTER_CONTENTS %}
    {% if USER_CONTEXT.permissions >= 9 %}
        <a href='{{ url_for("blog.post_edit_form", post_id=BLOG_POST.post_id) }}'><button>edit</button></a>
        <a href='{{ url_for("blog.delete_post", post_id=BLOG_POST.post_id) }}'><button>delete</button></a><br>
    {% endif %}
    Posted by <a href='{{ url_for("blog.index", author_id=BLOG_POST.author.id) }}'>
    {{ BLOG_POST.author.display_name }}</a>
    on {{ BLOG_POST.timestamp_utc }}
{% endblock %}
