{% extends "base.html" %}

{% block HTML_CONTENTS %}
<div class="container">
    <form action="{{ url_for("administration.sql_exec") }}" method="POST">
        <div class="form-floating my-1">
            <textarea rows="4" style="height:40%;" name="sql_query" type="text" id="sql_query" class="form-control" placeholder="sql query goes here" required></textarea>
            <label for="sql_query">sql query goes here</label>
        </div>

        <div class="form-floating my-1">
            <input type="submit" value="execute" class="btn btn-primary" />
        </div>
    </form>

    {% if SQL_RESULTS %}
        <br>
        <div class="form-floating">
            <textarea rows="4" style="height:40%;" name="query_results" type="text" id="query_results" class="form-control" placeholder="query results" required>{{ SQL_RESULTS }}</textarea>
            <label for="query_results">query results</label>
        </div>
    {% endif %}
</div>
{% endblock %}
