{% extends "base.html" %}

{% block HTML_CONTENTS %}
<div class="container">
    <div class="alert alert-info">
        use this TOTP seed to generate a 6-digit code and submit.
    </div>

    <form action="{{ url_for("user_management.enable_totp") }}" method="POST">
        <div class="form-floating my-1">
            <input onClick="this.select();" name="totp_seed" type="text" id="totp_seed" class="form-control-plaintext" placeholder="TOTP Seed" value="{{ GENERATED_TOTP_SEED }}" readonly />
            <label for="totp_seed">TOTP Seed</label>
        </div>
        <div class="form-floating my-1">
            <input name="generated_code" type="text" id="generated_code" class="form-control" placeholder="6-digit code goes here" />
            <label for="generated_code">6-digit code goes here</label>
        </div>
        <div class="form-floating my-1">
            <input type="submit" value="&#9919; verify" class="btn btn-primary" />
        </div>
    </form>
</div>
{% endblock %}
